.warehouseDetail__chart {
	width: 100%;
	margin-bottom: 20px;
}

.warehouseDetail__chart span {
	font-size: 1.5rem;
	color: var(--main-bg-dark);
	margin-left: 40px;
}

.warehouseDetail__chart div {
	height: 360px;
	margin: 20px;
}

.warehouseDetail__values-table {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 240px;
}

.warehouseDetail__values-table thead {
	position: sticky;
	top: 0;
}
