.csv-download-button {
	color: #fff;
	background-color: var(--second-color);
  border-radius: 5px;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid var(--second-color);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 1px 2px 2px 0 #ddd;
}