.warehouseOverview .heading-1 {
	font-size: 1.2em;
	font-weight: 600;
	background-color: var(--main-color);
	color: var(--txt-white);
}
.warehouseOverview .heading-2{
	background-color: var(--second-color);
	color: var(--txt-white);
	font-weight: bold;
}
.warehouseOverview .heading-1 td {
	border-top: 1px solid var(--main-bg-dark);
	border-bottom: none;
}

.warehouseOverview .heading-2 td {
	border-bottom: 1px solid var(--main-bg-dark);
}

.warehouseOverview tr td:nth-child(2),
.warehouseOverview tr td:nth-child(5) {
	border-right: 1px solid var(--main-bg-dark);
}

.warehouseOverview tr td:nth-child(1) {
	border-left: 1px solid var(--main-bg-dark);
}

.warehouseOverview tbody tr:last-child td {
	border-bottom: 1px solid var(--main-bg-dark);
}

.btn-deleteAll {
	padding: 10px 21px;
	margin-left: 0px;
	border-radius: 6px;
	font-size: 1rem;
	font-weight: bold;
	color: var(--txt-white);
	background-color: var(--main-color-red);
}

.btn-deleteAll:hover {
	background-color: var(--second-color-red);
	color: var(--txt-white);
}
