input[type=text]{
  width: 100%;
  border: none;
  padding:10px 0;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  color: var(--txt-black);
  font-size: 1rem;
}

.column-filter__input--packing ::placeholder {
  color: var(--txt-white);
  opacity: 1; /* Firefox */
}

.column-filter__input--packing :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--txt-white);
}

.column-filter__input--packing ::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--txt-white);
}