.warehouseResult__container table {
	margin-top: 20px;
	margin-bottom: 50px;
}

.warehouseResult__container thead {
	background-color: var(--second-bg-dark);
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--txt-white);
}

.warehouseResult__container tbody tr:hover {
	cursor: pointer;
}

.warehouseResult__container td {
	text-align: center;
	font-size: 1.2rem;
}
