#daily-injection-plan-tracking-table table {
  width: 100%;
  min-width: 200px;
  border-spacing: 0;
}
#daily-injection-plan-tracking-table table thead {
  background-color: #f5f5f5;
}
#daily-injection-plan-tracking-table table thead th {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
#daily-injection-plan-tracking-table table tbody tr {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}
#daily-injection-plan-tracking-table tr.lightgreen {
  background-color: #c6eeb5;
}
#daily-injection-plan-tracking-table tr.lightred {
  background-color: #ffdbdb;
}
#daily-injection-plan-tracking-table tr.lightyellow {
  background-color: #f8f0c8;
}
