.table-wrapper {
  overflow-y: auto;
}


.table-wrapper tr:hover{
  background-color: var(--second-color);
  color: var(--txt-white);
  cursor: pointer;
}

table{
  width: 100%;
  min-width: 200px;
  border-spacing: 0;
}

thead, tfoot{
  background-color: var(--second-bg)
}

tr {
  text-align: left;
}

th, td {
  text-transform: capitalize;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
}
 
  