#alarm__filter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
#alarm__filter label {
  font-weight: bold;
  flex-direction: column;
  font-size: 1rem;
  display: flex;
  margin-bottom: 5px;
}

#alarm__filter input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
}

#alarm__filter input[type='text'],
input[type='date'],
input[type='month'],
select {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
  /* margin-bottom: 20px; */
  transition: border-color ease-in-out .15s;
}
#alarm__filter input[type='text']:focus,
input[type='date']:focus,
select:focus {
  outline: 0;
  border: 2px solid rgb(0, 0, 255,0.5);
}
#alarm__filter input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin-right: 9px;
}

.form-control {
  margin-top: 10px;
  margin-right: 10px;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  flex-grow: 1;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  min-height: 90px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color ease-in-out .15s;
}

.btn {
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--main-color-gray);
  background-color: var(--main-color-green);
  color: var(--txt-white);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 10px;
  margin: 10px 0 0 0;
  cursor: pointer;
}
.btn .btn-primary {
  background-color: var(--main-color-green);
  color: var(--txt-white);
}

.alarm-error-message {
	color: var(--main-color-red);
	font-size: 1rem;
	font-weight: 500;
}

.alarm-error-msg__container{
  min-width: 400px;
}

.alarm-error-msg__container > .alarm-error-message {
  padding-top: 3px ;
  padding-left: 10px;
}